// colors
$white: #ffffff;
$light-gray: #666666;
$gray: #353333;
$charcoal: #252324;
$black: #0e100d;

// typefaces
$nav-font: "Courier New", Courier, monospace;
$paragraph-font: "adobe-garamond-pro", "Times New Roman", serif;
$header-font: "futura-pt", sans-serif;
