@import "constants";

body {
  background: $black;
  color: $white;
  text-align: center;
  font-family: $paragraph-font;
}

h1, h2, h3 {
  font-family: $header-font;
}
h1 {
  color: $white;
  text-transform: uppercase;
}
h2 {
}
h3 {
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.vr {
  width: 1px;
  margin: 0 auto;
  background: $white;
  height: 115px;
}

#header {
  background: $charcoal;

  #logo, #brand {
    border: {
      left: solid 1px $gray;
      right: solid 1px $gray;
    }
  }

  nav {
    a {
      font-family: $nav-font;
      color: $white;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1px;

      &.current {
        border-bottom: solid 1px $white;
      }
    }
  }
}
