// colors
$white: #ffffff;
$light-gray: #666666;
$gray: #353333;
$charcoal: #252324;
$black: #0e100d;

// content-specific
$bg-reserve: #211f1f;
$bg-menu: #323131;

// typefaces
$nav-font: "Courier New", Courier, monospace;
$paragraph-font: "adobe-garamond-pro", "Times New Roman", serif;
$header-font: "futura-pt", sans-serif;

// dimensions
$header-height: 60px;
$header-width: 975px;
