* {
  box-sizing: border-box; }

#header {
  height: 60px;
  position: fixed;
  z-index: 100;
  width: 100%; }
  #header #header-inner {
    width: 975px;
    margin: 0 auto;
    position: relative; }
    #header #header-inner #logo {
      padding: 10px;
      float: left; }
    #header #header-inner #brand {
      float: right;
      padding: 23px 10px; }
      #header #header-inner #brand div {
        height: 14px;
        width: 75px;
        background: url(../images/victory.png) no-repeat; }
      #header #header-inner #brand:hover div {
        background-position-y: -14px; }
    #header #header-inner nav {
      position: absolute;
      width: 100%;
      top: 18px;
      text-align: center;
      z-index: -1; }
      #header #header-inner nav div {
        display: inline-block;
        margin-right: 50px; }
        #header #header-inner nav div a {
          padding-bottom: 3px; }
          #header #header-inner nav div a:last-child {
            margin-right: 0; }

#content {
  padding: 60px 0; }
  #content > section {
    padding: 60px 0; }

section#home {
  padding: 0 0 13em 0; }
  section#home .title {
    margin-top: 170px; }
  section#home .phone {
    margin-top: 50px; }

section#about {
  padding-top: 0; }
  section#about h1 {
    margin-top: 60px; }
  section#about .slideshow .nav {
    top: 200px; }

iframe {
  margin: 1.5em 0; }

#expand {
  display: none; }

@media only screen and (max-width: 767px) {
  #header {
    height: auto; }
    #header #header-inner {
      width: auto; }
      #header #header-inner #logo, #header #header-inner #brand {
        display: none; }
      #header #header-inner #expand {
        display: block;
        margin: 16px auto; }
      #header #header-inner nav {
        display: none;
        position: static;
        margin-top: 20px; }
        #header #header-inner nav div {
          display: block;
          margin: 0; }
          #header #header-inner nav div a {
            margin: 10px 0;
            padding-bottom: 0; }

  #content {
    padding-top: 50px; }
    #content #home {
      padding-bottom: 2em; }
    #content #menus .menu-item .name-and-description {
      float: none;
      text-align: center;
      width: auto; }
    #content #menus .menu-item span {
      float: none;
      display: block; }

  iframe {
    display: none; } }
