@import "constants";

* {
  box-sizing: border-box;
}

$header-height: 60px;
#header {
  height: $header-height;
  position: fixed;
  width: 100%;

  #header-inner {
    width: 975px;
    margin: 0 auto;
    position: relative;

    #logo {
      padding: 10px;
      float: left;
    }
    #brand {
      float: right;
      padding: 23px 10px;
      div {
        height: 14px;
        width: 75px;
        background: url(../images/victory.png) no-repeat;
      }
      &:hover div {
        background-position-y: -14px;
      }
    }

    nav {
      position: absolute;
      width: 100%;
      top: 18px;
      text-align: center;
      z-index: -1;

      a {
        margin-right: 50px;
        padding-bottom: 3px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

#content {
  padding: $header-height 0;

  > section {
    padding: $header-height 0;
  }
}

#home {
  .title {
    margin-top: 170px;
  }
  .phone {
    margin-top: 50px;
  }
}

iframe {
  margin: 1.5em 0;
}

@media only screen and (max-width: 767px) {
  #header {
    height: auto;
    position: static;

    #header-inner {
      width: auto;

      #logo {
        float: left;
      }
      #brand {
        display: none;
      }

      nav {
        position: static;
        width: 150px;
        float: right;
        text-align: left;

        a {
          display: block;
          margin: 4px 0;
        }
      }
    }
  }

  #content {
    padding-top: 0;
  }
}
