* {
  box-sizing: border-box; }

#header {
  height: 60px;
  position: fixed;
  z-index: 100;
  width: 100%; }
  #header #header-inner {
    width: 975px;
    margin: 0 auto;
    position: relative; }
    #header #header-inner #logo {
      padding: 10px;
      float: left; }
    #header #header-inner #brand {
      float: right;
      padding: 23px 10px; }
      #header #header-inner #brand div {
        height: 14px;
        width: 75px;
        background: url(../images/victory.png) no-repeat; }
      #header #header-inner #brand:hover div {
        background-position-y: -14px; }
    #header #header-inner nav {
      position: absolute;
      width: 100%;
      top: 18px;
      text-align: center;
      z-index: -1; }
      #header #header-inner nav a {
        margin-right: 50px;
        padding-bottom: 3px; }
        #header #header-inner nav a:last-child {
          margin-right: 0; }

#content {
  padding: 60px 0; }
  #content > section {
    padding: 60px 0; }

section#home {
  padding: 0 0 13em 0; }
  section#home .title {
    margin-top: 170px; }
  section#home .phone {
    margin-top: 50px; }

section#about h1 {
  margin-top: 60px; }
section#about .slideshow .nav {
  top: 200px; }

iframe {
  margin: 1.5em 0; }

@media only screen and (max-width: 767px) {
  #header {
    height: auto;
    position: static; }
    #header #header-inner {
      width: auto; }
      #header #header-inner #logo {
        float: left; }
      #header #header-inner #brand {
        display: none; }
      #header #header-inner nav {
        position: static;
        width: 150px;
        float: right;
        text-align: left; }
        #header #header-inner nav a {
          display: block;
          margin: 4px 0; }

  #content {
    padding-top: 0; }
    #content #menus .menu-item span {
      float: none;
      display: block; } }
