body {
  background: #0e100d;
  color: white;
  text-align: center;
  font-family: "adobe-garamond-pro", "Times New Roman", serif;
  font-size: 1.3em; }

h1, h2, h4 {
  font-family: "futura-pt", sans-serif; }

h1 {
  text-transform: uppercase;
  font-size: 3.2em;
  font-weight: 100;
  letter-spacing: 12px; }
  h1 .number {
    font-size: 14px;
    vertical-align: top;
    display: inline-block;
    margin-top: 30px;
    letter-spacing: 0; }

h3 {
  font-style: italic; }

h4 {
  font-weight: 100;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-bottom: solid 1px white;
  padding-bottom: 1em;
  margin-bottom: 1em; }

a {
  color: white; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

.vr {
  width: 1px;
  margin: 20px auto;
  background: white;
  height: 115px; }

hr {
  border-bottom: solid 1px white;
  width: 45px;
  margin: 25px auto; }
  hr.large {
    width: auto;
    margin-top: 3em;
    margin-bottom: 2em; }

#header {
  background: #252324;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); }
  #header #logo, #header #brand {
    border-left: solid 1px #353333;
    border-right: solid 1px #353333; }
  #header nav a {
    font-size: .7em;
    font-family: "Courier New", Courier, monospace;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px; }
    #header nav a.current {
      border-bottom: solid 1px white; }

#home, #about {
  position: relative;
  overflow: hidden; }
  #home *, #about * {
    position: relative;
    z-index: 2; }
  #home .slideshow, #about .slideshow {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%; }
    #home .slideshow .photo-stream, #about .slideshow .photo-stream {
      width: 100%;
      height: 100%;
      left: 0;
      position: relative; }
      #home .slideshow .photo-stream .photo, #about .slideshow .photo-stream .photo {
        height: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        float: left; }
  #home .nav, #about .nav {
    position: absolute;
    z-index: 10;
    width: 24px;
    height: 52px;
    cursor: pointer;
    top: 310px; }
    #home .nav:hover, #about .nav:hover {
      background-position-y: -52px; }
    #home .nav.prev, #about .nav.prev {
      left: 150px;
      background-image: url(../images/nav-left.png); }
    #home .nav.next, #about .nav.next {
      right: 150px;
      background-image: url(../images/nav-right.png); }

#home .address, #home .phone {
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px; }
#home .phone {
  font-weight: 500;
  font-size: 1.2em; }

#information {
  background: #211f1f; }
  #information .reserve-warning {
    font-family: "futura-pt", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 2em 0; }
  #information a.button {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 50px;
    font-family: "futura-pt", sans-serif;
    font-size: 1em;
    color: #fff;
    background: transparent;
    border: solid 1px white;
    -webkit-appearance: none;
    cursor: pointer;
    text-decoration: none;
    border-color: #a6bac4;
    border-width: 6px;
    color: #a6bac4;
    padding: 20px 65px;
    display: inline-block;
    margin-bottom: 2em; }
    #information a.button:hover {
      background: #a6bac4;
      color: #0e100d; }
  #information em {
    font-size: .8em; }

#about p {
  margin: 1em 0;
  line-height: 1.7em; }
#about .nav {
  top: 190px; }

#menus .menu {
  margin-bottom: 2em; }
  #menus .menu .menu-item {
    margin-bottom: 1em; }
    #menus .menu .menu-item .name-and-description {
      float: left;
      text-align: left;
      width: 90%; }
      #menus .menu .menu-item .name-and-description .name {
        text-transform: uppercase; }
      #menus .menu .menu-item .name-and-description .description {
        margin-left: .3em;
        font-style: italic; }
    #menus .menu .menu-item .price {
      float: right; }

#information section {
  line-height: 1.7em; }
#information .links {
  margin: 1em 0; }
#information .open-map {
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase; }

#copyright {
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #666666; }

#wootable-calendar {
  width: 80%;
  margin: 0 auto; }

.ui-datepicker-header {
  background: #414042;
  padding: 10px; }

.ui-datepicker-prev, .ui-datepicker-next {
  cursor: pointer;
  width: 10px;
  height: 22px; }
  .ui-datepicker-prev span, .ui-datepicker-next span {
    display: none; }

.ui-datepicker-prev {
  float: left;
  background-image: url(../images/calendar-prev.png); }

.ui-datepicker-next {
  float: right;
  background-image: url(../images/calendar-next.png); }

.ui-datepicker-title {
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px; }

.ui-datepicker-calendar {
  width: 100%;
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse; }
  .ui-datepicker-calendar td, .ui-datepicker-calendar th {
    width: 14.2%;
    padding: 8px 0;
    border: solid 1px #0e100d; }
    .ui-datepicker-calendar td *, .ui-datepicker-calendar th * {
      display: block;
      text-align: center; }
  .ui-datepicker-calendar th {
    background: #252324; }
  .ui-datepicker-calendar td {
    background: #414042; }
  .ui-datepicker-calendar .ui-datepicker-unselectable {
    color: #0e100d; }
  .ui-datepicker-calendar .ui-datepicker-today {
    background: #666666; }
  .ui-datepicker-calendar .ui-datepicker-current-day {
    background: white; }
    .ui-datepicker-calendar .ui-datepicker-current-day a {
      color: #0e100d; }
  .ui-datepicker-calendar a {
    text-decoration: none; }

input[type=submit], button {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 50px;
  font-family: "futura-pt", sans-serif;
  font-size: 1em;
  color: #fff;
  background: transparent;
  border: solid 1px white;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none; }
  input[type=submit]:hover, button:hover {
    background: white;
    color: #0e100d; }

label {
  display: inline-block;
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase;
  float: left;
  width: 20%;
  margin-top: 5px; }

input[type=text], textarea, .customSelect {
  background: white;
  border: none;
  margin-left: 0;
  font-family: "adobe-garamond-pro", "Times New Roman", serif;
  font-size: 21px; }

input[type=text], .customSelect {
  height: 40px; }

input[type=text], textarea {
  width: 80%;
  padding: 10px 20px; }

.form-field {
  margin-bottom: 15px;
  text-align: left; }

.customSelectInner {
  color: #0e100d;
  margin-top: 7px;
  text-align: center; }

form {
  padding-bottom: 4em; }

.reservations-form .people-time > * {
  float: left; }
.reservations-form .customSelect, .reservations-form select {
  width: 30%;
  padding-right: 15px;
  background: white url(../images/arrow-down.png) no-repeat right 5px top 50%; }
  .reservations-form .customSelect .customSelectInner, .reservations-form select .customSelectInner {
    padding-left: 10px; }
.reservations-form .reservation-time-label {
  padding-left: 10px; }
.reservations-form .reservation_time {
  float: right; }
.reservations-form label.error {
  float: none;
  width: auto;
  font-family: "adobe-garamond-pro", "Times New Roman", serif;
  font-style: italic;
  text-transform: none;
  padding-left: 20%; }
  .reservations-form label.error.valid {
    display: none !important; }

.ui-dialog {
  background: #252324;
  padding: 15px 40px;
  border: solid 1px white;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.8); }
  .ui-dialog .ui-dialog-titlebar {
    font-family: "futura-pt", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .ui-dialog .ui-dialog-content {
    height: auto !important;
    margin: 1em 0; }
  .ui-dialog .ui-dialog-titlebar-close {
    display: none; }

.reservations-back {
  margin: 2em 0 3em 0;
  font-family: "Courier New", Courier, monospace;
  font-size: .8em;
  letter-spacing: 1px;
  text-transform: uppercase; }
  .reservations-back a {
    text-decoration: none; }
    .reservations-back a:hover {
      text-decoration: underline; }

.reserve-header {
  margin: .5em 0 2em 0; }

.reserve-submit {
  margin: 3em 0; }

.woo-sc-box {
  border: solid 1px #fff;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 3em;
  padding: 10px 25px; }

#wootable-bookings-table td, #wootable-bookings-table th {
  text-align: center;
  letter-spacing: 1px;
  font-size: .8em;
  border: solid 1px #0e100d; }
#wootable-bookings-table th {
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase;
  background: #353333;
  padding: 5px 10px; }
#wootable-bookings-table td {
  background: #414042;
  padding: 15px 10px; }
#wootable-bookings-table a {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 50px;
  font-family: "futura-pt", sans-serif;
  font-size: 1em;
  color: #fff;
  background: transparent;
  border: solid 1px white;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 5px;
  display: inline-block;
  color: #a6bac4;
  border-color: #a6bac4; }
  #wootable-bookings-table a.confirm {
    color: white;
    border-color: white; }

@media only screen and (max-width: 767px) {
  #logo {
    border: none !important; }

  h1 {
    font-size: 1.5em; }
    h1 .number {
      margin: auto;
      vertical-align: middle; }

  .slideshow-container .nav {
    display: none; }

  #wootable-calendar {
    width: 100%; }

  .reservations-form {
    margin-top: 1em; }

  .grid_6 {
    padding-left: 0 !important; }

  .reservations-form * {
    float: none !important;
    position: static !important;
    width: auto !important; }
  .reservations-form label, .reservations-form input {
    display: block; }
  .reservations-form select {
    opacity: 1 !important; }
  .reservations-form .customSelect {
    display: none !important; }

  .woo-sc-box {
    width: auto !important; }

  .ui-dialog {
    width: auto !important; }

  .title {
    width: 320px;
    display: block;
    margin: 0 auto; }

  #about {
    font-size: 16px; }
    #about .grid_10 {
      width: auto; } }
